body {
  background-color: black;
  margin: 0px;
}

.line {
  position: absolute;
  background-color: white;
}

.horizontal {
  width: 100%;
  height: 1px;
}

.verticality {
  width: 1px;
  height: 100%;
}

.target {
  position: absolute;

  transform: translate(-50%, -50%);
}

.tag {
  position: absolute;

  font-size: 35px;
  color: white;
  margin-top: 20px;
  margin-left: 25px;
}
